.attribution { font-size: 11px; text-align: center;width: 100%;line-height: 250%; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    --pink-500: hsl(293, 100%, 63%);
    --purple-500: hsl(264, 100%, 61%);
    --purple-50: hsl(260, 100%, 95%);
    /* Secondary */
    --white: hsl(0, 100%, 100%);
    --gray-100: hsl(270, 20%, 96%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --purple-950: hsl(271, 36%, 24%);
    --pink-400 : hsl(289, 100%, 72%);
    --pink-300 : hsl(289, 100%, 89%);
}
@font-face {
    font-family: Rubik;
    src: url('./font/Rubik/Rubik-VariableFont_wght.ttf');
}
html {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    height: 100%;
    background-color: var(--gray-100);
    font-size: 16px;
    font-family: Rubik;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.phone {
    display: block;
    width: 265px;
    height: 520px;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: var(--white);
    border-radius: 1.8em;
}
.phone-head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--white);
    height: 65px;
    background: linear-gradient(30deg, var(--purple-500), var(--pink-500));
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 10px;
    font-size: 14px;
}
.phone-content {
    background-color: var(--gray-100);
    box-sizing: border-box;
    border: 2px solid var(--gray-100);
    border-radius: 2em;
}
.message {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    gap: 0.6em;
}
.message-send {
    grid-column: 1;
    width: 120px;
    color: var(--purple-500);
    background-color: var(--pink-300);
    padding: 0.7em;
    font-size: 0.5em;
    box-sizing: border-box;
    border-radius: 1em;
    float: left;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.receive {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.4em;
}
.receive img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.6em;
}
.message-receive {
    width: 135px;
    float: right;
    color: var(--purple-950);
    background-color: var(--white);
    font-size: 0.5em;
    padding: 0.8em;
    box-sizing: border-box;
    border-radius: 0.8em;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.message-sending {
    width: 150px;
    font-size: 0.7em;
    box-sizing: border-box;
    color: var(--grey-200);
    padding: 1em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    border-bottom-left-radius: 0.5em;
    background: linear-gradient(45deg, var(--purple-500), var(--pink-500));
}
.price {
    color: var(--white);
    font-weight: 700;
    float: right;
    font-size: 12px;
}
input {
    width: 95%;
    border: none;
    background: none;
    color: var(--grey-200);
    outline: none;
}
.input {
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--white);
    width: 100%;
    height: 1em;
    outline: 1px;
    border: 1px solid white;
}
.input:focus {
    border: 1px solid black;
    outline: 1px solid black;
}
.btn-send {
    border-radius: 2em;
    border: none;
    padding: 0;
}
.btn-send img {
    width: 20px;
    height: 20px;
}
.title {
    font-weight: 600;
    font-size: 5vh;
}
.explication {
    color: var(--grey-400);
    font-size: 0.9em;
    line-height: 200%;
}
/* .description {
} */
.background-one {
    position: absolute;
    top: -60px;
    left: 0;
    width: 50%;
    height: 550px;
    z-index: -1;
    background: linear-gradient(45deg, var(--purple-500), var(--pink-400));
}
.background-two {
    display: none;
    position: absolute;
    top: 150px;
    right: -120px;
    width: 458px;
    height: 650px;
    z-index: -1;
    background: var(--purple-50);
    border-top-right-radius: 200em;
    border-top-left-radius: 200em;
    transform: rotate(-1deg);
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 4em;
}
.head-white {
    position: absolute;
    width: 10vw;
    height: 3vh;
    top: 0;
    background-color: white;
    border-radius: 0 0 14px 14px;
}
.avatar {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--grey-200);
    border-radius: 20px;
}
.profile {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.username {
    font-size: 11px;
    color: var(--white);
}
.description-profile {
    font-size: 8px;
    color: var(--grey-200);
}
.username, .description-profile {
    display: block;
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5px;
}
.point-white {
    width: 2.5px;
    height: 2.5px;
    background-color: var(--white);
    border-radius: 4px;
}
.space-between {
    width: 100%;
    height: 5vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
}
@media screen and (min-width: 1024px) {
    .container {
        width: 850px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4vh;
    }
    .background-one {
        width: 30vw;
        /* top-left-and-bottom-right | top-right-and-bottom-left */
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 5em / 3em;
    }
    .description {
        width: 30em;
    }
}